.Planet-row {
    height: auto;
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.Planets-container {
    background: rgba(242, 241, 243, 0.7);
    height: 85vh;
    width: 90vw;
    overflow-y: scroll;
    margin-top: 20px;
    border-radius: 10px;
 }
 